/* ==  Merriweathe r== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Merriweather", serif;
}

/* banner section style start here */
.banner-container{
    max-width: 1320px;
    /* border: 2px solid red; */
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../images/Banner Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
   text-align: center;
}
.banner-content p, h1{
    color: #fff;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}

/* 65% section container start here */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    /* border: 2px solid red; */
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.second-section-content .title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.second-section-content .subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.second-section-content .desription{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.image-container{
    width: 802.9px;
    height: 500px;
}
.image-container img{
    width: 100%;
    height: 100%;
}

/* midnight party container style*/
.midnight-party-container{
    max-width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    background-image: url("../images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.leftside-container{
    /* width: 50%; */
    width: 642px;
    /* border: 2px solid yellow; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
}
.leftside-container .title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    padding-left: 126px;
    margin-bottom: 24px;
}
.leftside-container .sub-title{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 126px;
    margin-bottom: 48px;
}
#midnight-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 126px;
}
.rightside-container{
    width: 50%;
    height: 600px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-content: center;
}
.rightside-container img{
    width: 349.16px;
    height: 464.65px;
    margin-top: 69px;
    margin-left: 108px;
}

/* detalies-container style here */
.detalies-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-content{
    text-align: center;
}
.details-content h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.details-content span{
    color: red;
}

/* new-best-offer style */
.new-best-offer{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 2px solid red; */
    display: flex;
}
.leftSide-content{
    width: 33%;
    height: 463px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leftSide-content .title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.leftSide-content .sub-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.leftSide-content .desription{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 393px;
}
.middle-content{
    width: 33.5%;
    height: 463px;
    border: 10px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide-content{
    width: 33.5%;
    height: 463px;
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
}
.rightSide-content .year{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.rightSide-content .desription{
   width: 276px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: end;
}

.rightSide-content img{
    width: 102.4px;
    height: 132.79px;
}

/* holiday style  */
.holiday{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    margin-top: 100px;
    position: relative;

}
.holiday_-sale-content{
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
}
.holiday_-sale-content .title{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}
.holiday_-sale-content .subtitle{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.holiday_-sale-content  span{
    color: red;
}
.holiday_-sale-content .desription{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
text-align: center;
}
.gift-content{
    margin-top: 64px;
}
.solid-color {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 77%;
    
}

.giftbox {
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
}
.giftbox img{
    /* margin-top: 77px; */
}
.discount{
width: 305.69px;
height: 305.69px;
/* border: 1px solid red; */
margin-left: 250px;
margin-top: 77px;
}

/* protfolio-container style */

.protfolio-container{
    width: 1320px;
    height: 1163px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 120px;
}
.protfolio-text-content .title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.protfolio-text-content .subtitle{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.protfolio-text-content .desription{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    width: 896px;
}

.portfolio-items{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.portfolio-items .item{
    width: 424px;
    height: 450px;
    
}
.portfolio-items .item img{
    width: 100%;
    height: 100%;
}

/* newsletter-container stle */
.newsletter-container{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    
}
.newsletter-text-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}

.newsletter-text-content .title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 48px;
}
.newsletter-text-content .desription{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 22px;
}
.newsletter-text-content form{
    margin-top: 48px;
}
.newsletter-text-content input{
    display: inline-block;
    position: relative;
}
.newsletter-text-content  input[type="text"]{
    width: 400px;
    height: 60px;
    border: none;
    outline: none;
    padding: 0 30px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-radius: 25px 0 0 25px;

}
.newsletter-text-content  input[type="submit"]{
    width: 200px;
    height: 60px;
    left: -5px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}